.about-tea-block {
  text-align: center;
  margin-top: 20px;
  @media (min-width: 576px) {
    text-align: left;
    padding-left: 4rem;
    padding-right: 0;
  }
}

.about-tea-hero {
  @media (min-width: 576px) {
    padding-right: 4rem;
    padding-left: 0;
  }
}

.about-tea-title {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.about-tea-description {
  vertical-align: middle;
}

.about-tea-icon {
  height: 4rem;
  width: 3.6rem;
}

.about-tea-icon-fix {
  height: 4rem;
  width: 4rem;
}

.about-tea-icon-moon-fix {
  height: 4rem;
  width: 5rem;
}
