.img-side {
  height: 240px;
  width: 160px;
}

.img-left-top {
  position: absolute;
  left: 0;
  top: 12%;
}

.img-left-bottom {
  position: absolute;
  left: 0;
  bottom: 12%;
}

.img-right-top {
  position: absolute;
  right: 0;
  top: 12%
}

.img-right-bottom {
  position: absolute;
  right: 0;
  bottom: 12%
}

.img-quote-left {
  position: relative;
  height: 60px;
  width: 120px;
  left: -10%;
}

.img-quote-right {
  position: relative;
  height: 60px;
  width: 120px;
  left: 90%;
}
