// Mixins
@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin assistant() {
  font-family: 'Assistant', serif, fangzheng-zhengxian;
}
@mixin berkshire-swash() {
  font-family: 'Berkshire Swash', serif, fangzheng-zhengxian;
}
@mixin times-new-roman() {
  font-family: "Times New Roman", Times, serif, fangzheng-zhengxian;
}
@mixin satisfy() {
  font-family: 'Satisfy', serif, shuxin-kaijian;
}

@font-face {
  font-family: fangzheng-zhengxian;
  src: url('../vendor/font/方正正纤黑简体.TTF');
}

@font-face {
  font-family: shuxin-kaijian;
  src: url('../vendor/font/苏新诗柳楷简.ttf');
}
