.our-tea-section-describe {
  padding: 4rem 0;
}

.our-tea-section-brew {
  padding: 1rem 0;
}

.img-brewing-info {
  height: 5rem;
  width: 5rem;
}

.img-brewing-info-wider-fix {
  height: 5rem;
  width: 6rem;
}

.img-brewing-info-thinner-fix {
  height: 5rem;
  width: 4rem;
}
